.git
.gitignore
.env.example
.env
.env.*.php
.phpunit.result.cache
Dockerfile
docker-compose.yml
npm-debug.log
.DS_Store
node_modules
vendor
.idea
.vscode
.editorconfig
docker
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
bootstrap/cache
public/hot
public/storage
tests
.pytest_cache
.coverage
htmlcov
.env.testing
.env.dusk.testing
